DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/beautly_test?schema=public"
SHADOW_DATABASE_URL="postgresql://USER:PASSWORD@localhost:5433/beautly_test_shadow?schema=public"
SESSION_SECRET="segredo-de-teste-com-no-minimo-32-caracteres-ok"
