DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/beautly?schema=public"
SHADOW_DATABASE_URL="postgresql://USER:PASSWORD@localhost:5433/beautly_shadow?schema=public"
SESSION_SECRET="um-segredo-aleatorio-com-no-minimo-32-chars"
APP_URL="http://localhost:3000"
